{% extends "quiz/base.html" %}
{% block title %}Answers{% endblock %}

{% block content %}
<div>
    <div>
        <h2>Question {{ question_id }}</h2>

        <form method="post">
            {% csrf_token %}
            <ul>
                {% for answer in answers %}
                <li>
                    <button type="submit"
                            name="answer"
                            value="{{ forloop.counter0 }}"
                            formaction="{% url 'submit_answer' quiz_id=quiz_id question_id=question_id answer_id=forloop.counter0 %}">
                        {{ answer.text }}
                    </button>

                </li>
                {% endfor %}
            </ul>
        </form>
    </div>
</div>
{% endblock %}