{% extends "base.html" %}
{% block title %}Answers{% endblock %}

{{ super() }}
{% block content %}
<div>
    <div>
        <h2>Question {{ question.id }}</h2>

        <ul>
            {% for answer in answers %}
            <li>
                <button hx-post="/quiz/{{ quiz_id }}/question/{{ question.id }}/answer/{{ answer.answer_id }}" hx-target="#response">{{ answer.text }}</button>
            </li>
            {% endfor %}
        </ul>

        <div id="response"></div>
    </div>
</div>
{% endblock %}